
*{
	margin: 0;
	padding: 0;
}

.row {
	height: 100%;
}

.container-project {
	width: 100%;	
}

.container-project-img {
	height: 100vh;
	background-color: #ccc;
}

.container-project-img-slaider {
	padding: 0;
	height: 50%;
	background-position: center;
	background-size: cover;
}

.container-project-title {
	height: 100vh;
}

.container-project-title>h1 {
	text-transform: uppercase;
	text-align: center;
	font-family: "KelsonSansRegular";
	font-size: 5em;
	font-weight: bold;
	color: #fff;
	margin-top: 0;
}

.container-project-title>p {
	text-transform: uppercase;
	text-align: left;
	font-family: "KelsonSansRegular";
	font-size: 2em;
	color: #fff;
	padding: 10px 20px;
	padding-bottom: 0;
	margin-bottom: 0;
	text-align-last: center;
	text-align: center;
}

#id1{
	background-image: url(../img/img001.jpg);
}

#id2{
	background-image: url(../img/img002.jpg);
}

#id3{
	background-image: url(../img/img003.jpg);
}

#id4{
	background-image: url(../img/img004.jpg);
}

#bg-1{
	background-color: #FFD10E;
}

#bg-2{
	background-color: #4AC124;
}

#bg-3{
	background-color: #FF474E;
}

#bg-4{
	background-color: #2D95CE;
}